* {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}


.HeroSection {
  position: relative;
  height: 70vh;
  background: url('../Image/Hero_Section_Background.jpg') center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.HeroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.herotext,
.herobutton {
  position: relative;
  z-index: 2;
}

.herotext p:first-child {
  font-size: 2.2rem;
  font-weight: 700;
  color: #f5e9cf;
}

.herotext p:last-child {
  font-size: 1.1rem;
  color: #eaeaea;
}

.button {
  background: linear-gradient(to right, #E8751C, #AB510C);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.button:hover {
  background: linear-gradient(to right, #AB510C, #E8751C);
}

.btn-outline-coffee {
  color: #FFD700;
  border: 2px solid #FFD700;
  background: transparent;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 600;
}

.btn-outline-coffee:hover {
  background: #FFD700;
  color: white;
}


.pastrycontainer {
  background-color: black;
  width: 100%;
  padding: 2rem 1rem;
}

.pastry-card {
  background-color: #111;
  border: 2px solid #CC6414;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.pastry-card:hover {
  transform: translateY(-5px);
}

.rating i {
  color: #FFD700;
  font-size: 20px;
}

.rating span {
  color: white;
  font-size: 16px;
  margin-left: 5px;
}


.classicbutton {
  background-color: black;
  text-align: center;
  padding: 20px;
}

.classicbutton button {
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #AB510C, #E8751C);
}

.brownsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3E1E06;
  color: white;
  padding: 30px 10px;
  gap: 8px;
}

.brownsection > a>button {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  color: #F4B400;
  border: 2px solid #F4B400;
  border-radius: 8px;
  background: transparent;
}

.brownsection > a>button:hover{

  background: #FFD700;
  color: white;
}



footer {
  background-color: #000;
  color: white;
}


@media (max-width: 768px) {
  .HeroSection {
    height: 50vh;
    background-attachment: scroll;
  }

  .herotext p:first-child {
    font-size: 1.6rem;
  }

  .herotext p:last-child {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .HeroSection {
    height: 45vh;
  }

  .pastrycontainer p {
    font-size: 5vw !important;
  }
}
